h1{color:#d4af37;margin-bottom: 80px;font-size: 80}
p{font-size: 30; color: aliceblue;margin-top: 80px}
p.attribution{font-size: 15;margin-bottom: 40px}
html{font-family:monospace; background-color: black;}
a{font-size: 15;margin-bottom: 30px;color:crimson; font-size: 20}
h2{font-size: 30;color:crimson;margin-top:50}